@import "compass/reset";

$page-transition-time: 1s;
$page-transition-ease: cubic-bezier(.7,0,.3,1);

html,body{
	width: 100%;
	height: 100%;
}

body{
	background-color: #ccc;
}

a{
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "Montserrat", sans-serif;
}

p {
	font-family: "Neuton", serif;
}

.wrapper{
	height: auto;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	border: 10px solid #fff;
	box-sizing: border-box;
}

.main-page{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: transparent;

	.slides{
		height: 100%;
		width: 100%;
   		-webkit-perspective: 1000px;
    	-moz-perspective: 1000px;
    	perspective: 1000px;
	}
	
	.project-slide {
		display: none; // To be set as block later with .is-active class
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #fff;
		overflow: hidden;
		// transition: all $page-transition-time $page-transition-ease;
		
		
		
		&.is-active{
			display: block;
			z-index: 2;
		}

		&.on-stage{
			display: block;

			img {
				transform: scale(1.1);
			}
		}


		img {
			width: 100%;
			display: inline;
			vertical-align: middle;
			transition: transform 15s ease-out;

		}


		.project-title{
			position: absolute;
			font-size: 48px;
			font-weight: bold;
			letter-spacing: 2px;
			bottom: 15%;
			left: 80px;
		}
		
	}
}

button.project-nav{
	position: relative;
	z-index: 10;
}


// 2st version
.title-nav {
	position: absolute;
	bottom: 50px;
	left: 50px;
	color: #fff;
	letter-spacing: 2px;
	font-family: "Montserrat", sans-serif;
	// text-transform: capitalize;
	

	li {
		font-size: 18px;
		// cursor: pointer;
		padding: 5px;
		transition: font-size $page-transition-time $page-transition-ease;
		font-family: "Montserrat", sans-serif;
		// text-transform: uppercase;

		&.is-active {
			font-size: 32px;
		}
	}
}

