@import "compass/reset";

$page-transition-time: 1s;
$page-transition-ease: cubic-bezier(.7,0,.3,1);

html,body{
	width: 100%;
	height: 100%;
}

body{
	background-color: #ccc;
}

.wrapper{
	height: auto;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	border: 10px solid #fff;
	box-sizing: border-box;
}

.slide-container{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: transparent;

	.img-container{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;

		//TODO: vendor prefix it
		transition-timing-function: $page-transition-ease;
		transition-duration: 0.5s;
		transition-property: transform, opacity;


		img {
			width: 100%;
			display: inline;
			vertical-align: middle;
			margin-top: 0;
			margin-left:0;

			//TODO: vendor prefix it
			transition-timing-function: $page-transition-ease;
			transition-duration: 0.5s;
			transition-property: all;
		}

	}

	.text{
		position: relative;
		width: 20%;
		margin: 0 auto;		
		margin-top: 100px;
		padding:50px;
		text-align: center;
		color: white;
		background-color: red;

		transform: scale(0.8);
		opacity: 0;
		
		//TODO: vendor prefix it
		transition-timing-function: $page-transition-ease;
		transition-duration: 0.5s;
		transition-property: transform, opacity;
	}

	.single-slide{

		&.info-mode{

			.img-container{
				transform: scale(1.2);
				opacity: 0;
			}

			.text{
				transform: scale(1);
				opacity: 1;
			}

		}
	}

}

button.info{
	position: relative;
	z-index: 10;
}




