/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/index - Copy.scss */
.main-page .project-slide {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s cubic-bezier(0.66, 0.15, 0.32, 0.88);
}
/* line 18, ../sass/index - Copy.scss */
.main-page .project-slide img {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
}
/* line 29, ../sass/index - Copy.scss */
.main-page .project-slide.is-active {
  display: block;
}
/* line 36, ../sass/index - Copy.scss */
.main-page [data-role="prev-going-up"] {
  transform: translateY(-500px) scale(0.8);
  opacity: 0;
}
/* line 41, ../sass/index - Copy.scss */
.main-page [data-role="prev-going-down"] {
  transform: translateY(500px) scale(0.8);
  opacity: 0;
}
/* line 46, ../sass/index - Copy.scss */
.main-page [data-role="current-going-up"] {
  transform: translateY(0) scale(1);
  opacity: 1;
}
/* line 51, ../sass/index - Copy.scss */
.main-page [data-role="current-going-down"] {
  transform: translateY(0) scale(1);
  opacity: 1;
}

/* line 58, ../sass/index - Copy.scss */
button.project-nav {
  position: relative;
  float: left;
  z-index: 10;
}
