/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/index_ver3.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 11, ../sass/index_ver3.scss */
body {
  background-color: #ccc;
}

/* line 15, ../sass/index_ver3.scss */
.wrapper {
  height: auto;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 23, ../sass/index_ver3.scss */
.main-page {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: transparent;
}
/* line 31, ../sass/index_ver3.scss */
.main-page .slides {
  height: 100%;
  width: 100%;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
/* line 39, ../sass/index_ver3.scss */
.main-page .project-slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  overflow: hidden;
}
/* line 51, ../sass/index_ver3.scss */
.main-page .project-slide.is-active {
  display: block;
  z-index: 2;
}
/* line 56, ../sass/index_ver3.scss */
.main-page .project-slide.on-stage {
  display: block;
}
/* line 59, ../sass/index_ver3.scss */
.main-page .project-slide.on-stage img {
  transform: scale(1.1);
}
/* line 64, ../sass/index_ver3.scss */
.main-page .project-slide img {
  width: 100%;
  display: inline;
  vertical-align: middle;
  transition: transform 15s ease-out;
}
/* line 72, ../sass/index_ver3.scss */
.main-page .project-slide .project-title {
  position: absolute;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  bottom: 15%;
  left: 80px;
}

/* line 84, ../sass/index_ver3.scss */
button.project-nav {
  position: relative;
  z-index: 10;
}

/* line 91, ../sass/index_ver3.scss */
.title-nav {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #fff;
}
/* line 97, ../sass/index_ver3.scss */
.title-nav li {
  font-size: 24px;
  transition: font-size 1s cubic-bezier(0.75, 0.02, 0.33, 0.99);
}
/* line 101, ../sass/index_ver3.scss */
.title-nav li.is-active {
  font-size: 48px;
}
